node_modules
.git
.gitignore
yarn.lock
package.json
nuxt.config.js
jsconfig.json
README.md
tailwind.config.js
stylelint.config.js
.prettierrc
.gcloudignore
.eslintrc.js
.editorconfig
/store
/static
/plugins
/pages
/middleware
/layouts
/content
/components
/.nuxt
/.github